{% extends 'todo/base.html' %}

{% block content %}
<p>
<ul>
   <li>This project is to evaluate your leanring environments by surveys.</li> 
    <li>If you decided to participate, you need to complete 3 surveys to evaluate different types of learning environments every day for one week.</li>
    <li>After signing up, you are able to login your account and create surveys from this App. </li>
    <li>Whenever you study for more than 30 minutes in any place (classroom, library, office, dormitory etc.), you could create a survey and complete it.</li> 
    <li>We expect you complete each survey within 2 minutes and spend no more than 6 minutes on this project every day.</li>
    <li>The 3 surveys must include both formal learning environments such as classroom and lecture halls and informal learning environments such as dormitory.</li> 
    <li>Once you met the requirement above constantly for 7 days, we will pay you $30.</li>
    <li>Please contact wz334@cornell.edu for any questions.</li>
</ul>
</p>

{% endblock %}