{% extends 'todo/base.html' %}

{% block content %}
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

                 <h1>Welcome!</h1>
            <p>Learning is everywhere. Welcome to<i> Learning Environments Survey</i> project. </p>
            <p>Just spend <i>5</i> minutes a day for a week, you will earn <b><i>$30</i></b> and a systemetic understanding of your learning environments on campus. </p>
        <a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Sign Up to start it today!</a>
        </div>
    </div>
{% endblock %}